@using System.Security.Claims;
@model CampaignManager.Persistence.Models.Generator

@{
    ViewData["Title"] = "Note Type Details";
    var userId = User.FindFirstValue(ClaimTypes.NameIdentifier);
    var successMessage = TempData["SuccessMessage"] as string;
    var errorMessage = TempData["ErrorMessage"] as string;
}

@if (!string.IsNullOrEmpty(successMessage))
{
    <div class="alert alert-success">
        @successMessage
    </div>
}


@if (!string.IsNullOrEmpty(errorMessage))
{
    <div class="alert alert-danger">
        @errorMessage
    </div>
}

<div class="details-view">
<dl class="row">
    <dt class="col-sm-2">
        Name
    </dt>
    <dd class="col-sm-10">
        @Model.Name
    </dd>

    <dt class="col-sm-2">       
        Owner
    </dt>
    <dd class="col-sm-10">
        @Model.Owner?.UserName
    </dd>

    <dt class="col-sm-2">
        Script
    </dt>
    <dd class="col-sm-10">
        <pre>@Model.Script</pre>
    </dd>
</dl>
</div>

<p>
    <a asp-action="Index" class="btn btn-primary">Back to Index</a>
</p>